#myModal-info .modal-dialog {
    width: 40%;
    min-width: 600px;
}

#myModal-info .table {
    width: 95%;
    margin: 1em auto;
}

.form-group.monto {
    width: 100px;
}
.form-control.fechaReserva {
    width: 160px;
}
#detalleSenia.form-control {
    max-width: 180px;
}
#señas .btn-danger { border-radius: 50%; font-weight: bold; height: 25px; width: 25px; padding: 0; line-height: 13px; }

ul.ui-autocomplete {
    position: absolute;
    cursor: default;
    z-index:9999 !important;
}
ul.ui-autocomplete li {
    color: rgb(85, 85, 85);
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 0 2px 1px;
}

#reservas {
    font: 16px/20px Antic, Helvetica, sans-serif;
    position: relative;
    width: 1250px;
}

#reservas div {
    font-size: 1em;
    background: #DDDDDD;
    display: inline-block;
    line-height: 40px;
    margin: 0;
    padding: 0;
    text-align: center;
}

#reservas div.dias, #reservas div.habitaciones,  #reservas div.habitaciones div.habitacion {
	display: block;
    height: 40px;
    position: relative;
	width: 100%;
}

#reservas div.dias div, #reservas div.habitaciones div {
	display: inline-block;
	float: left;
	width: 40px; height: 40px;
}

#reservas div:nth-child(odd) {
	background: #EEEEEE;
}

.dia.actual {
	background: yellow !important;
}

div.habitacion div.dia-hab {
	background: #FFFFFF !important;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

div.habitaciones div.habitacion div.dia-hab.deshabilitado {
	cursor: default !important;
	border-top: gray;
	border-right: gray;
	background-color: rgba(0,0,0,.2) !important;
}

div.dia-hab div.ocupado:hover {
	cursor: pointer;
}
div.dia-hab div.ocupado {
    z-index: 1 !important;
	display: inline-block;
    box-sizing: content-box;
    height: 35px !important;
    position: relative;
    cursor: pointer;
    left: 40px;
    line-height: 37px !important;
    margin: 0px 13px 0px 0px;
    padding: 10px 28px 10px 20px;
    border-radius: 4px 1px 1px 4px;
    font: 20px/24px Antic, Helvetica, sans-serif;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}

div.dia-hab div.ocupado:before {
	display: inline-block;
    box-sizing: content-box;
    z-index: 1 !important;
    width: 25px;
    height: 25px;
    position: absolute;
    content: "";
    cursor: pointer;
    top: 5px;
    left: -10px;
    border-radius: 1px 1px 4px;
    transform: rotateY(1deg) rotateZ(-45deg);
}

div.dia-hab div.ocupado.pendiente {
    color: #252525;
    background-color: rgb(234, 225, 127) !important;
    box-shadow: rgb(210, 170, 20) -2px 5px 0px 0px, rgb(210, 170, 20) 5px 5px 0px 0px;
}

div.dia-hab div.ocupado.pendiente:before {
    background-color: rgb(234, 225, 127);
    box-shadow: rgb(210, 170, 20) -5px 0 0 0, rgb(210, 170, 20) -5px 0 0 0;
}

div.dia-hab div.ocupado.activa {
    background: rgb(26, 188, 156) !important;
    box-shadow: rgb(22, 160, 133) -2px 5px 0px 0px, rgb(22, 160, 133) 5px 5px 0px 0px;
}

div.dia-hab div.ocupado.activa:before {
    background: rgb(26, 188, 156);
    box-shadow: rgb(22, 160, 133) -5px 0 0 0, rgb(22, 160, 133) -5px 0 0 0;
}

div.dia-hab div.ocupado.antes:before {
    display:none;
}
div.dia-hab div.ocupado.antes {
    left: 0;
    border-radius: 0 1px 1px 0;
    box-shadow: rgb(22, 160, 133) 0px 5px 0px 0px, rgb(22, 160, 133) 5px 5px 0px 0px;
}
div.dia-hab div.ocupado.despues {
    box-shadow: rgb(22, 160, 133) -2px 5px 0px 0px, rgb(22, 160, 133) 0 5px 0px 0px;
}

/* Info */

.info-hab {
    display: block;
    float: right;
    width: 70px;
    border-radius: 3px;
    margin: 0 0 20px;
    padding: 10px;
    overflow: hidden;
    color: rgb(255, 255, 255);
    text-align: center;
    background: linear-gradient(rgb(100, 100, 100) 0px, rgb(0, 0, 0) 100%) 50% 50% / auto repeat padding-box border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-clip: border-box;
    box-shadow: rgba(0, 0, 0, 0.298039) 1px 1px 1px 0;
    text-shadow: rgba(0, 0, 0, 0.2) 1px 1px 1px;
}


/* info */
.pendiente {
    background-color: rgb(234, 225, 127);
}

.activa {
    background-color: rgb(26, 188, 156);
    font: 20px/24px Antic, Helvetica, sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
}

.cancelada {
    background-color: #FF8C8C;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.5) 35px, rgba(255,255,255,.5) 70px);
}
.cancelada h4 { text-shadow: 2px 1px 1px rgba(101, 59, 59, 0.5); }